/*
 Hoja de estilos para elementos de administración
 @author Pablo César Sánchez Porta
 */
.clear{
	clear: both;
}
.cobertura .cov_map{
	width: 63%;
	float: left;
}
.cobertura .list{
	width: 35%;
	float: right;
}
#tmx_set_cov{
	height: 500px;
}
.cobertura_config{
	width: 48%;
	float: left;
}
.cobertura_param{
	width: 48%;
	float: right;
}
.mensajes .form-group{
	width: 48%;
	float: left;
	margin-right: 1.8%;
}
.mensajes input{
	width: 100%;
}