/*
 Hoja de estilos para shortcode
 @author Pablo César Sánchez Porta
 */
.clear{
	clear: both;
}
.text-center{
	text-align: center;
}

#cobertura_tamex{
	height: 400px;
}
#mapa{
	display: none;
}
#form{
	display: none;
}

/* Ajuste de Botones */

.button{
	border-radius: 0.3em;
	margin: .5em;
}
.button.mi_ubicacion{
	/* Estilos para botones de class .mi_ubicaion*/
	
}
.button.otra_ubicacion{
	/* Estilos para botones de class .otra_ubicacion*/

}
.button.continuar{
	/* Estilos para botones de class .continuar*/

}
.button.cancel{
	/* Estilos para botones de class .cancel*/

}